h2{
    padding: 0;
}

td{
    color: #F0F8FF;
}

.cabecalho-moda{
    background-color: #BB86FC;
    text-align: center;
}

.produtos{
    background-color: #424250;
}

.cabecalho-casa{
    background-color: #00C4B4;
    text-align: center;
}